<div class="card">
  <div class="card-header">
    <%= member.name %>
    Manager
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: <%= member.name %></li>
      <li class="list-group-item">Email: <%= member.email %></li>
      <li class="list-group-item">Office number: <%= member.officeNumber %></li>
    </ul>
  </div>
</div>